:root {
	--container-width: 1110px;
	--container-padding: 15px;

	--font-main: 'NotoSansMono', sans-serif;
	--font-accent: 'NotoSansMono', sans-serif;
	--font-titles: var(--font-accent);

	--c-white-1: #ffffff;
    --c-white-2: #f8f8f8;
    --c-red: #ef5552;
    --c-black: #000000;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
